.footer {
    background: linear-gradient(271deg, #44403F 0.4%, #211F20 100%);
    padding: 26px  0 30px 40px;
    position: absolute;
    bottom: -26px;
    .nav .nav-link {
        padding: 0;
    }
    p {
        color: #CFCFCF;
        font-size: 12px;
        font-weight: 500;
        margin-bottom: 7px;
    }
    .brand-info {
        max-width: 208px;
        margin-right: 86px;
        .footer-nav {
            color: #FFF;
            font-size: 14px;
            font-weight: 500;
            align-items: start;
            .footer-nav-item {
                list-style: none;
                margin-bottom: 9px;
                &:last-child{
                    margin-bottom: 0;
                }
            }
            .footer-nav-link {
                color: #FFF;
                font-size: 14px;
                font-weight: 500;
                text-decoration: underline;
                padding-bottom: 4px;
            }
        }
        .brand__logo {
            color: #FFF;
            font-size: 25px;
            font-weight: 700;
            line-height: 25px;
            letter-spacing: 4px;
            margin-bottom: 15px;
        }
    }
    .footer-nav {
        display: flex;
        align-items: center;
        .footer-nav-item {
            list-style: none;
            margin-bottom: 9px;
            margin-right: 40px;
            &:last-child{
                margin-bottom: 0;
                margin-right: 0;
            }
        }
        .footer-nav-link {
            color: #FFF;
            font-family: Gilroy;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
    }
    .arrow-bg {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 64px;
        height: 64px;
        background-color: #FFF;
        margin-right: 55px;
    }
}